* {
    margin: 0;
    padding: 0;
}

.label {
    color: #78808E;
    font-size: 14px;
    margin: 2px 0px 10px;
}

.input {
    font-size: 14px;
    margin-bottom: 2px;
    border: 1px solid #78808E;
    border-radius: 5px;
    outline: none;
    padding: 2px 5px;
}


/* Banner */

.content {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 45% 55%;
}

.banner {
    background-color: #00953A;
    display: flex;
    flex-direction: column;
}

.banner h2 {
    color: #FFD923;
    font-size: 50px;
    font-weight: bold;
    width: 65%;
    margin: 20px auto;
}

.banner h2 p {
    color: #fff;
    font-size: 25px;
}

.banner>p {
    background-color: #FED925;
    color: #566372;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
    width: 95%;
}

.banner .camion {
    width: 350px;
    margin: 70px auto;
}

.banner .tranporte-jalisco {
    width: 300px;
    margin-right: 80px;
    align-self: flex-end;
}


/* Conatiner */

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>img {
    margin-left: 220px;
    width: 260px;
}

.header>a {
    color: #009032;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 5px solid #009032;
    margin-left: 180px;
}

.login {
    width: 39%;
    height: 400px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #707070;
}

.login-form {
    width: 70%;
    height: 280px;
    display: flex;
    margin: 20px auto 0;
    flex-direction: column;
}

.login-form>h2 {
    color: #5B6670;
    text-align: center;
    margin: 10px 0;
}

.login-form button {
    background-color: #00953A;
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    font-size: 18px;
    margin: 25px auto 10px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: rgba(0, 149, 58, 0.9);
}

.login-form button:active {
    background-color: rgba(0, 149, 58, 0.9);
    border: 2px solid #000;
}

.login-form>a {
    color: #00953A;
    margin: 0 auto;
}

.login-register {
    background-color: #F8F8F8;
    height: 100px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-register>p {
    color: #5B6670;
    font-weight: bold;
}

.login-register>a {
    background-color: #E2F0E3;
    border-radius: 10px;
    color: #00953A;
    text-decoration: none;
    width: 220px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-top: 5px;
}


/* Registro */

.register {
    width: 39%;
    height: 550px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #707070;
}

.register-form {
    width: 70%;
    height: 80%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
}

.register-form .checkbox {
    color: #5B6670;
    margin-top: 7px;
    font-size: 14px;
}

.register-form .checkbox input {
    margin-right: 15px;
}

.register-form .checkbox span {
    color: #00953A;
}

.register-form button {
    background-color: #D1D1D1;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 30px auto 0;
    width: 200px;
    font-size: 18px;
    padding: 9px 0;
    cursor: pointer;
}

.register-form button:active {
    border: 1px solid #000;
}


/* Recuperar contraseña*/

.container-wrapp {
    width: 39%;
    height: 200px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #707070;
}

.container-wrapp .form {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

.container-wrapp .form h2 {
    color: #5B6670;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.container-wrapp .form button {
    background-color: #00953A;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    margin: 30px 0 10px;
    padding: 7px 0;
    cursor: pointer;
}

.container-wrapp .form button:hover {
    background-color: rgba(0, 149, 58, 0.9);
}

.container-wrapp .form button:active {
    background-color: rgba(0, 149, 58, 0.9);
    border: 1px solid #000;
}